@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--dark-color);
}

.search-container {
  background-color: var(--md-dark-color);
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo {
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-dark-color);
}
.logo p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.logo p span {
  color: var(--yellow-color);
}
.search-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.search-element h3 {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.search-element .form-control {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  color: var(--light-dark-color);
  width: 350px;
}
.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
}
.search-list .search-list-item {
  background-color: var(--light-dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: calc(350px - 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}
.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar {
  width: 8px;
}
.search-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  outline: none;
  border-radius: 10px;
}

/* js related class */
.hide-search-list {
  display: none;
}

/* movie result */

.wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.result-container {
  margin: 0 auto;
  display: flex;
  transition: transform 0.3s ease;
  width: 900px;

  overflow: hidden;
}

.movie-grid {
  flex: 0 0 900px;
  margin-right: 10px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.movie-grid-Item {
  background-color: var(--yellow-color);
  padding: 1rem 0.1rem 0rem 0.1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-grid-item-thumbnail {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--dark-color);
}

.movie-grid-item-thumbnail img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.movie-grid-item-info {
  flex-grow: 1;
  background-color: var(--yellow-color);
  padding: 0.8rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-grid-item-info h3 {
  font-weight: bold;
  font-size: 18px;
}

.movie-grid-item-info p {
  font-weight: bold;
}

.arrow {
  fill: #fff;
  height: 35px;
  width: 35px;
  top: 100px;
  position: absolute;
}

.left-arrow {
  left: 0;
  transform: translateX(-50%);
}

.right-arrow {
  right: 0;
  transform: translateX(-50%);
}

.arrow:hover {
  cursor: pointer;
}

/* 
@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }
  .search-element .form-control {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
  .search-element h3 {
    font-size: 1.4rem;
  }
  .search-list {
    width: 90%;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .search-list .search-list-item {
    width: 100%;
  }
  .movie-misc-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .movie-misc-info li:nth-child(2) {
    margin: 0.8rem 0;
  }
}

@media (min-width: 800px) {
  .search-element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .search-element h3 {
    margin-bottom: 0;
  }
  .result-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-info {
    text-align: left;
    padding-top: 0;
  }
  .movie-info .movie-misc-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0;
  }
  .movie-info .plot {
    margin-left: 0;
  }
  .movie-info .writer {
    padding-left: 0;
    margin-left: 0;
  }
} */
